[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.18"
django-crispy-forms = "==1.7.2"
gunicorn = "==19.9.0"
whitenoise = "==3.3.1"
pillow = "==8.1.1"
social-auth-app-django = "==3.1.0"
django-export-download = "*"
django-import-export = "*"
django-tables2 = "*"
django-filter = "*"
google-api-python-client = "==1.6.4"
oauth2client = "==4.1.2"
jsonpickle = "==0.9.6"
django-simple-email-confirmation = "*"
django-widget-tweaks = "*"
python-social-auth = "*"
python-jose = "*"

[requires]
python_version = "3.7"
