{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}

<h2>Log In</h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-success ml-2" type="submit">Log In</button>
</form>
<br>
<p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}" class="btn btn-success ml-2">Login with GitHub</a><br><br>
  <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-success ml-2">Login with Facebook</a>

{% endblock content %}
