{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}

<meta name="google-signin-client_id" content="244148125235-3fg0ft534ktn89ldgdlov0k3thmiq49v.apps.googleusercontent.com">

<header>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
  </header>

<body>
<h2 style="text-align:center;">Log In</h2>
<hr>
<div class="container">
  <style>
      .container{
        max-width: 248px;
      }
  </style>
<form class="form"method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-success ml-2" style="margin-left: 4.1rem !important;"type="submit">Log In</button>
</form>
</div>
<p style="text-align: left;margin-bottom: 1rem;margin-top: 39px;margin-left: 45px;"><strong>Login with </strong>
<a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google w3-xxlarge ml-1"></i></a> &nbsp;&nbsp;<a href="{% url 'social:begin' 'facebook' %}" ><i class="fa fa-facebook w3-xxlarge ml-1"></i></a>&nbsp;&nbsp;<a  href="{% url 'social:begin' 'github' %}"><i class="fa fa-github w3-xxlarge ml-1"></i></a>
</p>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
      $('#github-button').on('click', function() {
        // Initialize with your OAuth.io app public key
        OAuth.initialize('73d9ea86df0058462b6a');
        // Use popup for oauth
        // Alternative is redirect
        OAuth.popup('github').then(github => {
          console.log('github:', github);
          // Retrieves user data from oauth provider
          // Prompts 'welcome' message with User's email on successful login
          // #me() is a convenient method to retrieve user data without requiring you
          // to know which OAuth provider url to call
          github.me().then(data => {
            console.log('me data:', data);
            alert('GitHub says your email is:' + data.email + ".\nView browser 'Console Log' for more details");
      });
          // Retrieves user data from OAuth provider by using #get() and
          // OAuth provider url
          github.get('/user').then(data => {
            console.log('self data:', data);
          })
        });
      })
    </script>
  </body>
{% endblock content %}
