{% extends 'base.html' %}

{% block content %}

<div class="article-entry">
   <!-- Back to top button -->

    <!-- -->
  <h2>{{ object.title }}</h2>
    <p>by {{ object.author }} | {{ object.date }}</p>
    <p>{{ object.body }}</p>
    <img src="{{ post.cover.url}}" alt="NO IMAGE:(">
  </div>

  <p><a href="{% url 'article_edit' article.pk %}">Edit</a> |
    <a href="{% url 'article_delete' article.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>
{% endblock content %}
