{% extends 'base.html' %}
{% block title %}Notes{% endblock title %}

{% block content %}
  <h1>Articles by {{user.username}} <i class="fa fa-arrow-circle-down"></i></h1>
  <hr>
  <br>

  {% for article in object_list %}
    <div class="card">
      <div class="card-header">
        <a href="{% url 'article_detail' article.pk %}"><i class="fa fa-file"></i> </a><span class="font-weight-bold">{{ article.title }}</span> &middot;
        <span class="text-muted"><i class="fa fa-user"></i> {{ article.author }} |
        <i class="fa fa-calendar"></i>{{ article.date }}</span>
      </div>
      <div class="card-body">
        <p>{{ article.body }}</p>
        <a href="{% url 'article_edit' article.pk %}"><i class="fa fa-pencil"></i></a> |
        <a href="{% url 'article_delete' article.pk %}"><i class="fa fa-trash"></i></a> | <a href="{% url 'comment_new' article.pk %}"><i class="fa fa-comments"></i></a>
      </div>
      <div class="card-footer">
        <a href = "{% url 'comments_list' article.pk %}">Comments</a>
      </div>
    </div>
    <br />
  {% endfor %}

  {% if is_paginated %}
    <nav aria-label="Page navigation conatiner"></nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

      {% endif %}
    </ul>
    </nav>
  {% endif %}
  
{% endblock content %}

